
# Dataset options
dataset:
  # Option 1: Hugging Face Datasets
  # Example:
  # dataset_name: facebook/voxpopuli
  # dataset_hf_subset: en
  # dataset_split: test
  dataset_type: ''
  dataset_name: ''
  dataset_hf_subset: ''
  dataset_split: ''

  # Option 2: Local Dataset
  # dataset_dir: Path to the directory containing the audio dataset files.
  # audio_pattern: *.wav
  dataset_dir: ''


# Data loading options
data_loading:
  # Padding strategy for audio sequences. Options: "longest", "fixed", "even", "uneven"
  padding: fixed

  # IF Padding = fixed, this is the maximum length of the audio sequences. 
  # For example, 160000 = 10 seconds at 16 kHz
  max_length: 80000
  sample_rate: 16000
  batch_size: 2

  # Maximum number of samples to load from the dataset for each run. Use for test or debugging purposes.
  num_samples: null


# Evaluation options
eval:
  quality_metrics:
  - snr
  - sisnr
  - stoi
  - pesq

  # Seed to ensure reproducibility of results.
  seed: 42

  # Directory to save the evaluation results. For each model, a subdirectory will be created, so the 
  # results will be saved in `result_dir/model_card_name/`.
  result_dir: ''

  # whether to overwrite existing results
  overwrite: False

  # device to load the model and run the evaluation on. Options: "cpu", "cuda", "mps". 
  # Note: In multi-GPU setups, setting device to 'null' will make the GPU assignment automatic.
  device: null

  # When performing attacks, we want to inspect some results. The `ids_to_save` option allows you to specify
  # which sample IDs to analyze. If set to None,no sample is analyzed.
  ids_to_save: null

  # whether to show the progress bar during evaluation.
  # NOTE: Currently not implemented. We leave it here for future use.
  show_progress: True

  # Number of process to parallelize some of the meric computation. 0 means no parallelization.
  num_workers: 0


# Options for watermark generation task
watermarking:
  # Size of the secret message to be embedded in the audio file. Most of the time, this should set to None, which means
  # that the message size is determined by the model.
  # In some occasions, when a model supports multiple message sizes, you can set it to a specific value.
  message_size: null

  # How to generate the random secret message. Options: "per_batch", "per_dataset"
  how_to_generate_message: per_dataset


# Options for detection task
detection:
  # threshold to change the float detection bits to binary detection results for detection score
  # If set None, the threshold is determined by the model (if the model has this attribute).
  # Other common values to try: 0.95
  detection_threshold: null

  # threshold to change the float message bits to binary message bits for bit accuracy
  # If set None, the threshold is determined by the model (if the model has this attribute).
  # Other common values to try: 0.5
  message_threshold: null

  # Number of bits in the extracted message to reserve for detection scores. If 
  # set to None, the number of bits is determined by the model.
  detection_bits: null

  # List of attacks to apply during the detection task. For each attack, we can specify the parameters to run, and 
  # each parameter will result in an `attack_variant` which will be evaluated separately. To customize the parameters
  # for each attack, edit the corresponding YAML files in the `attacks` directory.
  # If set to None, no attacks are applied.
  # attacks: null
  attacks:
  - speed
  - speed_julius
  - updownresample
  - echo
  - random_noise
  - lowpass_filter
  - highpass_filter
  - bandpass_filter
  - smooth
  - boost_audio
  - duck_audio
  - shush
  - pink_noise
  - aac_compression
  - mp3_compression


# List of the model cards to evaluate. To customize the models, edit the corresponding YAML files in the `cards` directory.
models:
  - audioseal
  - wavmark_fast
  - timbre


# Options for SLURM execution. Simply set this to False to disable the SLURM execution and run the evaluation locally.
# If set to True, the configs in `submitit_config.yaml` will be used.
slurm: True
