
name: Test Image Models
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches: [ "main" ]
    paths:
      - "**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "**"

jobs:
  pre_check:
    runs-on: ubuntu-latest
    outputs:
      audio_or_video: ${{ steps.filter.outputs.audio_or_video }}
      image: ${{ steps.filter.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            audio_or_video:
              - 'src/omnisealbench/**/*audio*'
              - 'src/omnisealbench/**/audio/**'
              - 'src/omnisealbench/**/audio.py'
              - 'src/omnisealbench/**/*video*'
              - 'src/omnisealbench/**/video/**'
              - 'src/omnisealbench/**/video.py'
            image:
              - 'src/omnisealbench/**/*image*'
              - 'src/omnisealbench/**/image/**'
              - 'src/omnisealbench/**/*videoseal*'
              - 'src/omnisealbench/**/videoseal/**'
              - 'src/omnisealbench/**/image.py'

  test_common_image_functions:
    needs: pre_check
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    if: needs.pre_check.outputs.audio_or_video != 'true' || needs.pre_check.outputs.image == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Create image venv
        run: |
          python -m venv .venv_image
          echo "$GITHUB_WORKSPACE/.venv_image/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          source .venv_image/bin/activate
          python -m pip install --upgrade pip
          pip install --no-cache-dir "numpy<2"
          pip install --no-cache-dir torch==2.2.2+cpu torchvision==0.17.2+cpu torchaudio==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -e '.[image]'
          pip install pytest
      - name: Run tests
        run: |
          pytest -s -v tests/image/test_dataset.py
          pytest -s -v tests/image/test_metrics.py
  
  test_model:
    needs: pre_check
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        model_name: [ trustmark, hidden, cin, mbrs, dct_dwt, fnns, ssl, wam, videoseal ]
    if: needs.pre_check.outputs.audio_or_video != 'true' || needs.pre_check.outputs.image == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Run tests for ${{ matrix.model_name }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Create image venv
        run: |
          python -m venv .venv_image
          echo "$GITHUB_WORKSPACE/.venv_image/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          source .venv_image/bin/activate
          python -m pip install --upgrade pip
          pip install --no-cache-dir "numpy<2"
          pip install --no-cache-dir torch==2.2.2+cpu torchvision==0.17.2+cpu torchaudio==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -e '.[image]'
      - name: Install trustmark
        if: matrix.model_name == 'trustmark'
        run: |
          source .venv_image/bin/activate
          pip install trustmark
      - name: Install invisible-watermark
        if: matrix.model_name == 'dct_dwt'
        run: |
          source .venv_image/bin/activate
          pip install invisible-watermark
      - name: Install WAM
        if: matrix.model_name == 'wam'
        run: |
          source .venv_image/bin/activate
          pip install timm einops opencv-python
      - name: Install videoseal
        if: matrix.model_name == 'videoseal'
        run: |
          source .venv_image/bin/activate
          pip install pycocotools timm einops opencv-python safetensors av
          git clone https://github.com/facebookresearch/videoseal.git
          export PYTHONPATH="$PYTHONPATH:$(pwd)/videoseal"
      - name: Download image models
        if: matrix.model_name == 'fnns' || matrix.model_name == 'ssl' || matrix.model_name == 'wam' || matrix.model_name == 'mbrs' || matrix.model_name == 'cin' || matrix.model_name == 'hidden'
        run: |
          source .venv_image/bin/activate
          mkdir -p checkpoints
          export OMNISEAL_CHECKPOINTS=checkpoints
          export OMNISEAL_MODEL=${{ matrix.model_name }}
          pip install gdown
          bash scripts/download_image_models.sh
      - name: Run model tests for ${{ matrix.model_name }}
        run: |
          source .venv_image/bin/activate
          pip install --no-cache-dir --force-reinstall "numpy<2"
          mkdir -p checkpoints
          pip install pytest
          PYTHONPATH=$(pwd)/videoseal OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v tests/image/test_models.py::test_load_${{ matrix.model_name }}
      - name: Test `omniseal info model`
        if: matrix.model_name != 'videoseal'
        run: |
          source .venv_image/bin/activate
          mkdir -p checkpoints
          echo "Testing 'omniseal info model' with all image models but invismark (due to unavaiable model checkpoint):"
          output=$(bash -c 'OMNISEAL_CHECKPOINTS=checkpoints omniseal info model ${{ matrix.model_name }}')
          if echo "$output" | grep -q "Error:"; then
            echo "::error::Command failed with output: $output"
            exit 1
          fi
          echo "Command succeeded with output: $output"
      - name: Cleanup checkpoints and extras
        if: always()
        run: |
          rm -rf checkpoints videoseal results/image results_image .venv_image "$HOME/.cache/torch"

  test_e2e:
    needs: pre_check
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        model_name: [ mbrs_jit ]
    if: needs.pre_check.outputs.audio_or_video != 'true' || needs.pre_check.outputs.image == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Run tests for ${{ matrix.model_name }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Create image venv
        run: |
          python -m venv .venv_image
          echo "$GITHUB_WORKSPACE/.venv_image/bin" >> $GITHUB_PATH
      - name: Install dependencies
        run: |
          source .venv_image/bin/activate
          python -m pip install --upgrade pip
          pip install --no-cache-dir "numpy<2"
          pip install --no-cache-dir torch==2.2.2+cpu torchvision==0.17.2+cpu torchaudio==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -e '.[image]'
          pip install invisible-watermark
      - name: Download image models
        run: |
          source .venv_image/bin/activate
          mkdir -p checkpoints
          export OMNISEAL_CHECKPOINTS=checkpoints
          export OMNISEAL_MODEL=${{ matrix.model_name }}
          pip install gdown
          bash scripts/download_image_models.sh
      - name: Run example end-to-end API tests for mbrs
        run: |
          source .venv_image/bin/activate
          pip install --no-cache-dir --force-reinstall "numpy<2"
          pip install pytest
          OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_tasks_end_to_end[True-None-${{ matrix.model_name }}]"
          OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_tasks_end_to_end[True-results_image-${{ matrix.model_name }}]"
          OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_tasks_end_to_end[False-None-${{ matrix.model_name }}]"
          OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_tasks_end_to_end[False-results_image-${{ matrix.model_name }}]"
          OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_wm_pipeline_custom[${{ matrix.model_name }}]"
      - name: Cleanup checkpoints and results
        if: always()
        run: |
          rm -rf checkpoints results/image results_image .venv_image "$HOME/.cache/torch"

  test_cli:
    needs: pre_check
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
    if: needs.pre_check.outputs.audio_or_video != 'true' || needs.pre_check.outputs.image == 'true'
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"
      - name: Create image venv
        run: |
          python -m venv .venv_image
          echo "$GITHUB_WORKSPACE/.venv_image/bin" >> $GITHUB_PATH
      - name: maybe run CLI
        id: decide
        run: |
          import random
          if random.random() < 0.3:
              print("::set-output name=run_job::true")
          else:
              print("::set-output name=run_job::false")
        shell: python
      - name: Install dependencies
        if: steps.decide.outputs.run_job == 'true'
        run: |
          source .venv_image/bin/activate
          python -m pip install --upgrade pip
          pip install --no-cache-dir "numpy<2"
          pip install --no-cache-dir torch==2.2.2+cpu torchvision==0.17.2+cpu torchaudio==2.2.2+cpu --extra-index-url https://download.pytorch.org/whl/cpu
          pip install -e '.[image]'
      - name: Download image models
        if: steps.decide.outputs.run_job == 'true'
        run: |
          source .venv_image/bin/activate
          mkdir -p checkpoints
          export OMNISEAL_CHECKPOINTS=checkpoints
          export OMNISEAL_MODEL="dct_dwt,fnns,hidden,ssl,trustmark,wam,cin,mbrs"
          pip install gdown
          bash scripts/download_image_models.sh
      - name: Run CLI tests for image
        if: steps.decide.outputs.run_job == 'true'
        run: |
          source .venv_image/bin/activate
          pip install --no-cache-dir --force-reinstall "numpy<2"
          echo "Testing 'omniseal eval image' with all image models but invismark (due to unavaiable model checkpoint):"
          output=$(bash -c 'OMNISEAL_CHECKPOINTS=checkpoints omniseal eval image --dataset_dir=examples/img --result_dir=results/image --model="dct_dwt,fnns,hidden,ssl,trustmark,wam,cin,mbrs" --attacks=tests/image/image_attacks_mini.yaml')
          if echo "$output" | grep -q "Error:"; then
            echo "::error::Command failed with output: $output"
            exit 1
          fi
          echo "Command succeeded with output: $output"
      - name: Cleanup checkpoints and results
        if: always()
        run: |
          rm -rf checkpoints results/image results_image videoseal .venv_image "$HOME/.cache/torch"

  # Disable tests for invismark because the checkpoints cannot be downloaded automatically
  # test_invismark:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 20
  #   strategy:
  #     fail-fast: true
  #     matrix:
  #       python-version: ["3.10"]
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Set up Python ${{ matrix.python-version }}
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: ${{ matrix.python-version }}
  #         cache: "pip"
  #     - name: Install dependencies
  #       run: |
  #         python -m pip install --upgrade pip
  #         pip install -e '.[image]'
  #         pip install invisible-watermark bchlib
  #     - name: Download image models
  #       run: |
  #         mkdir -p checkpoints
  #         export OMNISEAL_CHECKPOINTS=checkpoints
  #         bash scripts/download_image_models.sh
  #     - name: Run test_invismark
  #       run: |
  #         pip install pytest
  #         OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v tests/image/test_models.py::test_load_invismark
  #         OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_tasks_end_to_end[invismark]"
  #         OMNISEAL_CHECKPOINTS=checkpoints pytest -s -v "tests/image/test_api.py::test_image_wm_pipeline_custom[invismark]"
